/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3899d1;
  --ifm-color-primary-dark: #2e6585;
  --ifm-color-primary-darker: #20506c;
  --ifm-color-primary-darkest: #20506c;
  --ifm-color-primary-light: #183d53;
  --ifm-color-primary-lighter: #2e6585;
  --ifm-color-primary-lightest: #2e6585;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* React-style blue palette for dark mode */
[data-theme="light"] {
  --ifm-color-primary: #61dafb;
  --ifm-color-primary-dark: #4fcff7;
  --ifm-color-primary-darker: #3fc8f5;
  --ifm-color-primary-darkest: #1fb6ec;

  --ifm-color-primary-light: #7be3ff;
  --ifm-color-primary-lighter: #8fe9ff;
  --ifm-color-primary-lightest: #b6f3ff;

  --docusaurus-highlighted-code-line-bg: rgba(97, 218, 251, 0.15);
}

/* React-style blue palette for dark mode */
[data-theme="dark"] {
  --ifm-color-primary: #61dafb;
  --ifm-color-primary-dark: #4fcff7;
  --ifm-color-primary-darker: #3fc8f5;
  --ifm-color-primary-darkest: #1fb6ec;

  --ifm-color-primary-light: #7be3ff;
  --ifm-color-primary-lighter: #8fe9ff;
  --ifm-color-primary-lightest: #b6f3ff;

  --docusaurus-highlighted-code-line-bg: rgba(97, 218, 251, 0.15);
}
